/* ###### */
/* GLOBAL */
/* ------ */
:root {
  --clr-light: #fdffc4;
  --clr-dark: #00332a;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --ff-title: "Playfair Display", serif;
  --ff-body: "Assistant", sans-serif;

  font-size: 100%;
}

*,
*::after,
*::before {
  /* border: 1px dotted hotpink; */
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--ff-body);
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}


/* ########## */
/* TYPOGRAPHY */
/* ---------- */
h1 {
  font-size: calc(3rem + 7vw);
  font-family: var(--ff-title);
  line-height: 1;
  margin: 0 0 0.25em;
}

.p-subtitle { max-width: 600px; }


/* ################# */
/* ANCHORS & BUTTONS */
/* ----------------- */
.btn-group {
  display: relative;
  margin: 2em 0;
}

.a-btn {
  border-radius: 5px;
  display: inline-block;
  line-height: 1;
  padding: 1em 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.a-btn + .a-btn { margin-left: 1em; }

.a-btn--secondary {
  background: var(--foreground);
  color: var(--background);
}

.a-btn--accent {
  background: var(--clr-accent);
  color: var(--foreground);
}


/* ###### */
/* LAYOUT */
/* ------ */
.section-intro {
  align-content: center;
  background: linear-gradient(120deg, var(--clr-primary), var(--clr-secondary));
  display: grid;
  grid-template-columns: minmax(2em, 1fr) minmax(80vw, 860px) minmax(2em, 1fr);
  height: 80vh;
  padding: 10em 0;
}

.section-intro>* { grid-column: 2 / 3; }


/* ##### */
/* UTILS */
/* ----- */


@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary: #202302;
    --clr-secondary: #00100d;
    --clr-accent: #ff7750;

    --background: var(--clr-dark);
    --foreground: var(--clr-light);
  }
}
